.form {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 5%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.text {
  padding-top: 5%;
  display: flex;
  justify-content: center;

  &--title {
    @extend .text;
    color: #303030;
    font-size: 24pt;
  }

  &--subtitle {
    @extend .text;
    color: #808080;
    font-size: 20pt;
    text-align: center;
    margin-top: 5%;
    width: auto;
  }
}

.image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-pad {
  width: 35%;
}

.submit-button {
  display: flex;
  width: 100%;
  align-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.button {
  width: 50%;
  padding: 5%;
  font-size: 18px;
  color: white;
  background: #2aa198;

  &--register {
    @extend .button;
    color: black;
    border: none;
    background: transparent;
  }
}

.password-input {
  color: #000000;
  font-size: 14pt;
  align-self: flex-start;
  background: transparent;
  border: #303030 solid 1pt;
  border-radius: 0;
  width: 100%;
  margin-top: 15px !important;
  box-sizing: border-box;
}

.password-input input {
  color: #000000;
  font-size: 14pt;
}

.password-input label {
  color: #303030;
  font-size: 14pt;
}

.error-border {
  @extend .password-input;
  border: #b60808 solid 1.25pt;
}

.error {
  color: #b60808;
  font-size: 8pt;
  padding: 5%;
}
