.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.course-title {
  font-size: 24px;
}

.course-instructor {
  font-size: 18px;
}

.course-section {
  font-size: 18px;
}

.course-term {
  font-size: 18px;
}

.course-credits {
  font-size: 14px;
}

.course-start {
  font-size: 14px;
}

.course-end {
  font-size: 14px;
}
