.button {
    width: 100%;
    padding: 8px;
    margin-top: 36px;
    border-radius: 25px;
    background: #b465f5;
    color: white;
    outline: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  
.button:hover {
    background: #9e40ea;
  }