.container {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}
